body {
    display: block;
    margin: 8px;
    background-color: black;
    color: white;
    font-family: Arial, serif;
}

body:focus {
    outline: none;
}
img {
  display: inline-block;
	max-width: 100%;
	max-height: 100%;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, serif;
}


.slider {
	width: 1024px;
	margin: 2em auto;

}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

li {
    float: left;
}

li a {

    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: #black;
    color: white;
    border-right: 1px solid grey;

}
li:last-child a { /* Så sista länken inte har ett sträck till höger*/
    border:none;
}

#FirstMenu li a{
  font-size: 20px;
}
#SecondMenu{
  margin-top: 30px;
  background-color: #70747a;
  font-size: 14px;
}
li a:hover{
  background-color: #494d54 ;
}
#Searchbar{
  width: 120px;
  height: 20px;
  background-color: rgb(51,51,51);
  border: none;
  margin-top: 5px;
  margin-left: 2px;
}

.div2 /* denna clearar och lägger den under förra lagret, Tar upp ett helt lager*/
{
    height: 300px;
    clear: left;
}

.div3 {
    float: right;
    width: auto;
    height: auto;
    margin: 10px;
    /* border: 3px solid #73AD21; */
}
.wrapper{
  text-align: center;
  /* background-color: green; */
  size: auto;
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
    overflow: auto;
    /* border: 3px solid blue; */
}



.center {
    margin: auto;
    width: 80%;
    /* padding: 10px; */
}


#NasaEvents{
  /* : 1px solid gray; */
	color: white;
  background-color: rgb(58,112,158);
  font-size: 12px;
  padding: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
}
#NasaEventsHeader{
  text-align: left;
  border-bottom: 1px solid white;
}
#NasaEventsFooter{
  border-top: 1px solid white;
  position: absolute;
  justify-content: flex-end;
  bottom: 0;
}

.flex-container {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-basis: auto;
}
.flex-center div{
   height: 300px;
   margin: 5px;

 }
 #MiddleRow div{
   width: 25%;
 }

 .flex-center img{
   width: 100%;
   height: 100%;
   object-fit: fill;
 }
#Asteroidtxt{
  background-color: white;
  color: #2297d6;
  font-size: 12px;
  padding: 8px;
  padding-bottom: 0px;
  padding-top: 0px;

}
#AsteroidtxtHeader{
  float: left;
  padding: 8px;
}
#div4{
  padding-left: 100px;
}
.flex-container{
  display: flex;
}
.flex-rows{
  display: flex;
  flex-direction: column;
}
#LastRow{
  width: 100%;
}
#LastRow div{
  max-width: 50%;
  min-width: 25%;
}
