body {
    display: block;
    margin: 8px;
    background-color: black;
}
div {
    display: block;
}

body:focus {
    outline: none;
}
img {
    display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
/* */
.div1 /* Denna tar upp så mycket plats den behöver*/
{
    float: left;
    width: auto;
    height: auto
    margin: 10px;
    border: 3px solid #73AD21;
}

.div2 /* denna clearar och lägger den under förra lagret, Tar upp ett helt lager*/
{
    border: 1px solid red;
    height: auto;
    clear: left;
}
.div3 {
    float: right;
    width: auto;
    height: auto
    margin: 10px;
    border: 3px solid #73AD21;
}
.wrapper{
  text-align: center;
  /* background-color: green; */
  size: auto;
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
    overflow: auto;
    border: 3px solid blue;
}
#logo {
  float: left;
}
#imgroundecorners {
  border-radius: 5%;
}
.menu1{
  font-size: 50px;
}
.div2pic /* denna clearar och lägger den under förra lagret, Tar upp ett helt lager*/
{
  padding-left: 5px;
    border: 1px solid red;
    height: auto;
    clear: left;
}
